body {
  background: #eee;
  font-family: sans-serif;
  box-sizing: border-box;
  
 
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  /* border: 2px solid white; */
  padding: 8px;
}

.title {
  background: #e3f4ff;
  padding: 8px;
  margin-top: 0px;
  margin-bottom: 8px;
}

.content {
  background: #e3f4ff;
  padding: 8px;
  margin-bottom: 16px 8px;;
}

.button-container {
  background: #e3f4ff;
  padding: 8px;
  text-align: center;
  
}

button {
  background: white;
  border: 1px solid #eee;
  padding: 7px 20px 7px 20px;
  margin: 0 auto;
}